// Mixins
$button-color: #fa8a4a;
$button-color-dark: #a44a17;
$button-text: #fff;
$header-bullets: #fff;
// Three column icon and text
$section-two-bullets: #333;
// Header background
$background-1: #a4c6a1;
// Form field in header
$background-2: #fde0b4;
// First section background
$background-3: #fff;
// Second section background
$background-4: #5E8870;
// Checkout background
$background-5: #f9f9f9;
